<head>
    <title> <TMPL_VAR NAME="TITLE"> </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        $(document).ready(function run_optimizer() {
            $.ajax({
                type: "POST",
                url: "libs/optimizer-js.pl",
                processData: false,
                contentType: 'application/json',
                data: { input: "<TMPL_VAR NAME="INPUT">" },
                dataType: "html",
                success: function( results ) {
                    $("#stuff").html(results); // Overwrites the contents of div 'content' with HTML-formatted results returned by optimize.pl
                },
                error: function() {
                    alert("An error has occurred!");
                }
            });
        });
    </script>
</head>

<body>
    <div id='stuff'>
        <div style=text-align:center>
            <h2> Waiting for results... </h2>
            <p> Your results will appear here when they are ready. </p>
            <img src="libs/roller.gif" alt="Roller" style="width:150px;height:150px">
        </div>
    </div>
</body>