<head>
    <title> <TMPL_VAR NAME="TITLE"> </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        $(document).ready(function run_optimizer() {
            var input = {
                name: '<TMPL_VAR NAME="SEQ_NAME">',
                DNAseq: '<TMPL_VAR NAME="DNA_SEQ">',
                AAseq: '<TMPL_VAR NAME="AA_SEQ">',
                seqtype: '<TMPL_VAR NAME="SEQ_TYPE">',
                add_introns: '<TMPL_VAR NAME="INTRONS">'
            }
            $.ajax({
                type: "POST",
                url: "libs/optimizer-js.pl",
                data: { data: JSON.stringify(input) },
                timeout: 2000,
                dataType: "html",
                success: function( results ) {
                    $("#stuff").html(results); // Overwrites the contents of div 'content' with HTML-formatted results returned by optimize.pl
                    //$("#response").text( results );
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                    $("#stuff").text( errorThrown );
                }
            });
            //$.post("libs/optimizer-js.pl",
            //        { data: JSON.stringify(input) },
            //        function( results ) {
            //            $("#stuff").html(results); // Overwrites the contents of div 'content' with HTML-formatted results returned by optimize.pl
            //        }
            //    );
        });
    </script>
</head>

<body>
    <div id='stuff'>
        <div style=text-align:center>
            <h2> Waiting for results... </h2>
            <p id=response> Your results will appear here when they are ready. </p>
            <img src="libs/roller.gif" alt="Roller" style="width:150px;height:150px">
        </div>
    </div>
</body>